html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main,
img {
  height: auto;
  width: 100%;
  margin: 0;
}

.skip-links {
  position: absolute;
  top: -5em;
  background-color: #fff;
  color: #e5e5e5;
}

.skip-links a:focus {
  top: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr 2.5fr .1fr;
  gap: 0;
  grid-template-areas:
    "banner"
    "content"
    "footer";

  height: auto;
  width: 100%;
  margin: 0;
  background-color: #e5e5e5;
}

.banner {
  display: block;
  height: auto;
}

.top-img {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
  color: black;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav a:hover {
  background-color: #e5e5e5;
}

nav a {
  text-decoration: none;

  padding: .2em .5em;
  background-color: #feb62b;
  border-radius: 6px;
  cursor: crosshair;
}

.hero-text h1 {
  text-align: center;
}

.site-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.mission {
  text-align: center;
}

.about h2 {
  text-align: center;
}

.bios h2 {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-header {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #fff;
  padding: .8rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: normal;
  display: block;
  width: 100%;
  cursor: crosshair;
  border: 1px solid rgba(255, 255, 255, .2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, .12);
}

.cards-item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {

  .cards-item {
    width: 50%;
  }

  nav ul {
    font-size: 2rem;
  }

  .banner {
    padding: 2.5rem;
  }

  .mission {
    font-size: 2rem;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 1rem;
    background: linear-gradient(to top, #b75f44 5%, #feb62b 100%);
    margin: 2rem;
  }

}

@media (min-width: 56rem) {

  .cards-item {
    width: 33.3333%;
  }

  nav ul {
    font-size: 3rem;
  }

  .banner {
    padding: 5rem;
  }

}

.mission {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 1rem;
  background: linear-gradient(to top, #b75f44 5%, #feb62b 100%);
  margin: 2rem;
}

.cards {
  border-radius: .25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
  display: flex;
  overflow: hidden;

  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-content {
  padding: 1rem;
  background: linear-gradient(to top, #b75f44 5%, #feb62b 100%);
  display: flex;
  flex-direction: column;
}

.card-title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.card-text {
  color: #fff;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: normal;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
