html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
}

body,
main,
img {
  height: auto;
  width: 100%;
  margin: 0;
}

.skip-links {
  position: absolute;
  top: -5em;
  background-color: #fff;
  color: #e5e5e5;
}

.skip-links a:focus {
  top: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "main"
    "div"
    "footer";
}

footer {
  display: grid;
  grid-area: footer;
}
