html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #E5E5E5;
}

body,
main,
img {
  height: auto;
  width: 100%;
  margin: 0;
}
